{% extends "student.html" %}

{% block title %}
    About
{% endblock  %}

 <!-- Navigation-->
  {% block navigation%}
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Shop Jumia😍</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about'%}">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>


    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-1 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">GET TO KNOW US MORE!! </h1>
                <p class="lead fw-normal text-white-50 mb-0"> shop qualityitems with ease  </p>
            </div>
        </div>
    </header>

{% endblock %}



{% block section %}
    <div class='container'>
        <div class='row'>
            <center>
                <div class='col-9'>
                    <h3 align ='justify'>
                    <strong>We are humans who want the best and the utmost best only seeking affection from those who we want it from <br>
                    and at times forgetting to return the same favour to others who look up to us.<br>Doesn't that make us selfish and unbearable? <br>
                    we ask ourselves but yet unable to help ourselves yet</strong>
                    </h3>
                </div>
        </div>   
    </div>
{% endblock  %}

{% block footer %}
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Get to know more about us!!....You are part of the family!!😊😊</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock  %}
